/* :::::::::::::::::::::::::::::::::::: */
/* ::::: Code of list of products ::::: */
/* :::::::::::::::::::::::::::::::::::: */

.example-card {
    width: 300px;
}

.mat-grid-list-products {
    overflow: hidden;
}

div {
    text-align: center;
    height: 300px;
    margin-bottom: 15px;
}

.image-buy-wholesale-product {
    height: 100%;
    width: 100%;
}