.containerDirection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7% 0;
}
.cardpadding{
  width: 50%;
 }
.w-full{
width: 190px;
height: 190px;
}

.grid2c {
  width: 50%;
}

.dsc-card {
  background-color: #d1d1d1;
  border-radius: 10px;
  width: 100%;
}

.dsc-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.dsc-content {
  border-left: 1px solid rgba(121, 121, 121, 0.25);
  padding: 0.5rem;
}

.imageTall{
width:180px;
height:180px;
}
