<main class="containerOrder">
  <div class="cardpadding">
    <div class="colum" class="paddinghigh">
      <mat-card class="row">
        <h1>My orders</h1>
        <mat-card-actions class="buttonpadding">
          <button routerLink="/generateorder" mat-flat-button color="primary" type="submit">New Order</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="colum">
      <mat-card *ngFor="let urlorder of urlorder" class="paddingprincipal row">


        <div class="paddingcard">

          <h1><strong>{{urlorder.name}}</strong></h1><br>
          <h2>{{urlorder.tittle}}</h2>
          <h4><a href={{urlorder.url}}>Get the main details here!</a></h4>
          <h4>Price: {{urlorder.price}}$</h4>
          <h4>Comision: {{urlorder.comision}}$</h4>
          <h4>Weight:{{urlorder.weight}}</h4>
          <button routerLink="/urlorder" (click)="deleteUrlorders(urlorder.id)" mat-flat-button color="primary"
            type="delete"><a href="javascript:location.reload()" style="color:rgb(255, 255, 255);">Delete</a></button>
        </div>

        <img class="padimg" src="https://i.imgur.com/JVdarAP.png">






      </mat-card>
    </div>
  </div>
</main>
