<main class="directioninfocontainer">
  <div class="direction-img-container">
    <img alt="Directions image" class="directionimg" src="https://i.imgur.com/weXt435.png">
  </div>
  <div class="info-container" *ngIf="directions$ | async as Direction">
    <div class="directionform">
      <h3><b>Principal Name: </b>{{Direction.name}}</h3>
      <h3><b>Last Name: </b>{{Direction.lastname}}</h3>
      <h3><b>Phone Client: </b>{{Direction.phone}}</h3>
      <h3>{{Direction.direction1}}</h3>
      <h3>{{Direction.district}}</h3>
      <h3>{{Direction.province}}</h3>
      <h3>{{Direction.departament}}</h3>
      <div class="paddingbutton">
        <button mat-flat-button color="primary" type="see more" routerLink="/direction">return</button>
        <button (click)="deleteDirection(Direction.id)" mat-flat-button color="primary" type="see more"
          routerLink="/direction">delete</button>
      </div>
    </div>
  </div>
</main>
