<main class="walletContainer">
<div class="cardpadding">
  <h1 style="text-align:left">My Wallet </h1>
  <div class="colum" class="paddinghigh">
    <mat-card class="row">
      <h1>Movements</h1>
      <mat-card-actions class="buttonpadding" >
        <button mat-flat-button color="primary" type="submit" >In process</button>
        <button mat-flat-button color="primary" type="submit">Valid</button>
        <button mat-flat-button color="primary" type="submit">Not Valid</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card >
      <ol>
        <li class="html h2 ul li"><a href="#">Transaction1</a></li>
        <li class="html h2 ul li"><a href="#">Transaction2</a></li>
        <li class="html h2 ul li"><a href="#">Transaction3</a></li>
        <li class="html h2 ul li"><a href="#">Transaction4</a></li>
      </ol>
    </mat-card>
  </div>
</div>
</main>
